<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
        initial-scale=1.0"
    />
    <title>{{ .Error }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="h-screen flex items-center justify-center bg-black">
      <img src="https://http.cat/{{ .Error }}" class="text-center mx-auto" />
    </div>
  </body>
</html>
